### CodeIgniter ###
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

### smarty ###
application/libraries/smarty/cache/
application/views/compiled/

system/.DS_Store

.DS_Store

*.sassc

*.sass
